[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStartPre=-/usr/bin/mkdir -p /opt/bin
ExecStartPre=-/usr/bin/rm /opt/bin/kubelet
ExecStartPre=/usr/bin/curl -L -o /opt/bin/kubelet https://storage.googleapis.com/kubernetes-release/release/v0.19.3/bin/linux/amd64/kubelet
ExecStartPre=/usr/bin/chmod +x /opt/bin/kubelet
ExecStart=/bin/sh -c "/opt/bin/kubelet \
  --address=0.0.0.0 \
  --port=10250 \
  --api_servers=$(/usr/bin/fleetctl list-units -fields=unit,machine --full --no-legend 2>/dev/null | grep ^kube-apiserver.service | cut -d/ -f2 | paste -d, -s):9090 \
  --allow_privileged=true \
  --hostname_override=$(ip addr show eth1 | awk 'gsub(/\/24/, \"\") {print $2}') \
  --logtostderr=true \
  --healthz_bind_address=0.0.0.0 \
  --healthz_port=10248"
Restart=always
RestartSec=10

[X-Fleet]
Global=true
